server {
    listen 80;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
        add_header Cache-Control "no-cache, no-store, must-revalidate";
    }

    location /api/ {
        proxy_pass https://nocodb.papelariaunicornio.com.br/api/;
        proxy_set_header Host nocodb.papelariaunicornio.com.br;
        proxy_set_header xc-token "${NOCO_TOKEN}";
        proxy_ssl_server_name on;
    }
}
